<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Psyber Time Away</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/font-awesome/4.5.0/css/font-awesome.min.css"
          th:href="@{/font-awesome/4.5.0/css/font-awesome.min.css}"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="../static/css/fonts.googleapis.com.css" th:href="@{/css/fonts.googleapis.com.css}"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="../static/css/ace.min.css" th:href="@{/css/ace.min.css}"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="../static/css/ace-part2.min.css" th:href="@{/css/ace-part2.min.css}"/>
    <![endif]-->
    <link rel="stylesheet" href="../static/css/ace-rtl.min.css" th:href="@{/css/ace-rtl.min.css}"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="../static/css/ace-ie.min.css" th:href="@{/css/ace-ie.min.css}"/>
    <![endif]-->

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="../static/js/html5shiv.min.js" th:href="@{/js/html5shiv.min.js}"></script>
    <script src="../static/js/respond.min.js" th:href="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body class="login-layout">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="content">
                    <p th:text="${path}"></p>
                    <p th:text="${'Details: ' + message}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--[if !IE]> -->
<script src="../static/js/jquery-2.1.4.min.js" th:href="@{/js/jquery-2.1.4.min.js}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="../static/js/jquery-1.11.3.min.js" th:href="@{/js/jquery-1.11.3.min.js}"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='../static/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        $(document).on('click', '.toolbar a[data-target]', function (e) {
            e.preventDefault();
            var target = $(this).data('target');
            $('.widget-box.visible').removeClass('visible');//hide others
            $(target).addClass('visible');//show target
        });
    });
</script>
</body>
</html>
